.contr-sec{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
.contr h3 {
    text-transform: uppercase;
    color: red;
    font-size: 40px;
}
.contr p {
    font-size: 17px;
    text-transform: capitalize;
}
